/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(to right, orange , lightblue);;
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.conteneur {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    overflow: hidden;
}

.panel-joueur-0,
.panel-joueur-1 {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** joueurS
**********************************************/

.nom-joueur {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.score-joueur {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;

}

.actif { background-color: #f1f1f1; }
.actif .nom-joueur { 
    font-weight: 300; 
}

.ion-social-tux {
    color: gray;
}
.actif .nom-joueur .ion-social-tux {
    color: green;
    
}

.box-joueur-courent {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
}


.score-joueur-courent {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-lancer { top: 403px;}
.btn-passe { top: 467px;}

.de {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    border:2px solid gray;
    box-shadow: 10px 10px 10px rgba(0, 100, 0, 0.50);
    border-radius: 8px;
}
.de1{
    border-color: red;
}

.vainqueur { background-color: #f7f7f7; }
.vainqueur .nom-joueur { font-weight: 300; color: #EB5D5D; }